*{
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    background-image: url(girl-under-the-stars.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:azure;
    line-height: 2rem;
    text-align:center;
    max-width:400px;
    min-height:400px;
}
form{
    border-radius: 20px;
    border:1px solid wheat;
    width:15rem;
    background-image: url(tumblr_07f8a8deaf8199aec594a76cd8bb84aa_f729e124_400.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 75%;
}
input{
    background-color:beige;
    border-radius: 10px;
    border-color: blue;
}
div{
    text-align:center;
}
button{
    border-radius: 30px;
    border-color: blue;
}
button:hover{
    background-color:rgb(214, 212, 212);
}
button:hover{
    color:rgb(68, 61, 61);
}
fieldset{
    border-radius: 20px;
    border:1px solid wheat;
    width:15rem;
    background-image: url(tumblr_07f8a8deaf8199aec594a76cd8bb84aa_f729e124_400.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 75%;
}